@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* Desktop Styling */
/* Typography */
.text-preset-1 {
    font-family: "Fraunces", serif;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-2 {
    font-family: "Fraunces", serif;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-3 {
    font-family: "Fraunces", serif;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-4 {
    font-family: "Manrope", serif;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-5 {
    font-family: "Manrope", serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}
/* Buttons */
.button {
    padding: 12px 32px;
    background-color: #44FFA1;
    border-color: transparent;
    cursor: pointer;
}

.is-text {
    color: white;
    padding: 0px;
    text-decoration: none;
    background-color: transparent;
    border-bottom: #44FFA1 solid 1px;
}



/* Main Styling */
.padding-global {
    padding: 0px 80px
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 232px;
}
.navbar {
    padding: 56px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #24053E;
}

.nav-wrapper {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 96px;
    color: white;
}

.hero-component {
    padding: 56px 80px 296px 80px;
    background-color: #24053E;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 635px;
    align-items: center;
    text-align: center;
}

.hero-image-wrap {
    width: 100%;
    position: absolute;
    bottom: -232px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 767.5px;
}

header img {
    width: 100%;
    margin-top: -0.5px;
}

/* Features Section */
.features-section {
    padding: 88px 0px 186px 0px;
}

.features-list-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 32px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 56px;
    align-items: center;
}

.feature-sn {
    width: 56px;
    height: 56px;
    border: #24053E solid 1px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fraunces", serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
}

.feature-item-content {
    color: #24053E;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* CTA Section */
.cta-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: right;
}

.head-shot {
    width: 477px;
    height: 477px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cta-wrap {
max-width: 730px;
position: relative;
padding: 64px;
margin-top: 168px;
background-color: #24053E;
color: white;
display: flex;
flex-direction: column;
gap: 32px;
align-items: start;
}

/* Footer Styling */
.footer-component {
    padding: 112px 80px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 56px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.footer-bottom svg {
    color: #584D62;
}

.footer-bottom svg:hover {
    color: #24053E;
}