@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}


/* Desktop Styling */
/* Typography */
.text-preset-1 {
    font-family: "Fraunces", serif;
    font-size: 80px;
    line-height: 110%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-2 {
    font-family: "Fraunces", serif;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-3 {
    font-family: "Fraunces", serif;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    font-weight: 600;
}

.text-preset-4 {
    font-family: "Manrope", serif;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-5 {
    font-family: "Manrope", serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}
/* Buttons */
.button {
    padding: 12px 32px;
    background-color: #44FFA1;
    border-color: #44FFA1;
    cursor: pointer;
    border-style: solid;
}

.button:hover {
    background-color: #24053E;
    color: white;
}

.is-text {
    color: white;
    padding: 0px;
    text-decoration: none;
    background-color: transparent;
    border-bottom: #44FFA1 solid 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.is-text:hover {
    color: #44FFA1;
}



/* Main Styling */

body {
    overflow-x: hidden;
}

.padding-global {
    padding: 0px 80px
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0px auto;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-bottom: 232px;
    
    
}
.navbar {
    padding: 56px 80px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #24053E;
}

.nav-wrapper {
    width: 100%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 96px;
    color: white;
}

.hero-component {
    padding: 56px 80px 296px 80px;
    background-color: #24053E;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero-abso-left {
    position: absolute;
    width: 339.73px;
    height: 316.98px;
    top: 47px;
    left: -50px;
    object-fit: contain;
}

.hero-abso-right {
    position: absolute;
    width: 172.68px;
    height: 180.5px;
    top: 324px;
    right: -47px;
    object-fit: contain;
}

.hero-text-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 635px;
    align-items: center;
    text-align: center;
}

h1 span {
border-bottom: #44FFA1 solid 2px;
}

.hero-image-wrap {
    width: 100%;
    position: absolute;
    bottom: -232px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    width: 767.5px;
}

header img {
    width: 100%;
    margin-top: -0.5px;
}

/* Features Section */
.features-section {
    padding: 88px 0px 186px 0px;
}

.features-list-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 32px;
}

.feature-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 56px;
    align-items: center;
}

.feature-sn {
    width: 56px;
    height: 56px;
    border: #24053E solid 1px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fraunces", serif;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
}

.feature-item-content {
    color: #24053E;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

/* CTA Section */
.cta {
padding-top: 112px;
}


.cta-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: right;
}

.head-shot {
    width: 477px;
    height: 477px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cta-wrap {
max-width: 730px;
position: relative;
padding: 64px;
margin-top: 168px;
background-color: #24053E;
color: white;
display: flex;
flex-direction: column;
gap: 32px;
align-items: start;
}

.cta-shape {
    position: absolute;
    width: 220.29px;
    bottom: -64px;
    right: 107px;
}

/* Footer Styling */
.footer-component {
    padding: 112px 80px;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 56px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.footer-bottom svg {
    color: #584D62;
}

.footer-bottom svg:hover {
    color: #24053E;
}

.footer-bottom a {
    cursor: pointer;
}


/* Tablet Styling */
@media (max-width: 768px) {
    
    /* Typography */
    .text-preset-1 {
        font-size: 60px;
    }
    
    .text-preset-2 {
        font-size: 48px;
    }
    
    .text-preset-3 {
        font-size: 28px;
    }
    
    .text-preset-4 {
        font-size: 16px;
    }



    /* Main Styling */
    .padding-global {
        padding: 0px 44px
    }

    header {
        padding-bottom: 120px;
    }
    .navbar {
        padding: 32px 44px 0px 44px;
    }

    .nav-wrapper {
        width: 100%;
        max-width: 1120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-component {
        padding: 56px 44px 164px 44px;
        background-color: #24053E;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-abso-left {
        width: 339.64px;
        height: 316.82px;
        top: 12px;
        left: -171px;
    }

    .hero-abso-right {
        position: absolute;
        width: 172.68px;
        height: 180.5px;
        top: 195px;
        right: -72px;
    }

    .hero-text-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 437px;
        align-items: center;
        text-align: center;
    }

    .hero-image-wrap {
        width: 100%;
        position: absolute;
        bottom: -193px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 24px;
    }

    .hero-image {
        width: 100%;
        max-width: 514.81px;
    }

    /* Features Tablet Section */
    .features-section {
        padding: 120px 0px 116px 0px;
    }

    .features-list-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .feature-item{
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 56px;
        align-items: start;
    }

    .feature-sn {
        width: 48px;
        height: 48px;
        flex: 0 0 auto;
        border: #24053E solid 1px;
        border-radius: 999px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-item-content {
        color: #24053E;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

/* CTA Tablet Section */
.cta {
    padding-top: 112px;
    }
    
    
    .cta-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: right;
    }
    
    .head-shot {
        width: 280px;
        height: 280px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .cta-wrap {
    max-width: 504px;
    position: relative;
    padding: 48px;
    margin-top: 166px;
    background-color: #24053E;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    }
    
    .cta-shape {
        position: absolute;
        width: 220.29px;
        bottom: -114px;
        right: 14px;
    }


    /* Footer Styling */
    .footer-component {
        padding: 80px 80px;
    }
}



/* Mobile Styling */
@media (max-width: 430px) {
    
    /* Typography */
    .text-preset-1 {
        font-size: 48px;
    }
    
    .text-preset-2 {
        font-size: 32px;
    }
    
    .text-preset-3 {
        font-size: 24px;
    } 

    /* Main Styling */
    .padding-global {
        padding: 0px 20px
    }

    header {
        padding-bottom: 56px;
    }
    .navbar {
        padding: 32px 20px 0px 20px;
    }

    .nav-wrapper {
        width: 100%;
        max-width: 1120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-component {
        padding: 56px 20px 144px 20px;
        background-color: #24053E;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-abso-left {
    display: none;
    }

    .hero-abso-right {
    display: none;
    }

    .hero-text-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 437px;
        align-items: center;
        text-align: center;
    }

    .hero-image-wrap {
        width: 100%;
        position: absolute;
        bottom: -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
    }

    .hero-image {
        width: 100%;
        max-width: 320px;
    }


    /* Features Mobile Section */
    .features-section {
        padding: 56px 0px 88px 0px;
    }
    
    .features-list-grid {
         width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .feature-item{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 56px;
        align-items: center;
        gap: 24px;
    }
    
    .feature-sn {
        width: 48px;
        height: 48px;
         flex: 0 0 auto;
        border: #24053E solid 1px;
        border-radius: 999px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    .feature-item-content {
        color: #24053E;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    
    /* CTA Tablet Section */
    .cta {
    padding-top: 112px;
    }
    
    
    .cta-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    .head-shot {
        width: 280px;
        height: 280px;
        position: static;
        left: 0px;
        top: 0px;
    }
    
    .cta-wrap {
    max-width: 504px;
    position: relative;
    padding: 32px;
    margin-top: -53px;
    background-color: #24053E;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
    
    }
    
    .cta-shape {
        display: none;
    }

}


